<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travello</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Template/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Template/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Template/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Template/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Template/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Template/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Template/styles/responsive.css">

</head>
<body>

    <div class="super_container">
               
        <div class="home" style="height:1020px">

            <!-- Home Slider -->
            <div class="home_slider_container">
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url(/Template/images/home_slider.jpg); display:block"></div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="">
                                            <h1 style="color:white">Customer</h1>
                                            @Html.Action("_Login")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>



    </div>

    <script src="~/Template/js/jquery-3.2.1.min.js"></script>
    <script src="~/Template/styles/bootstrap4/popper.js"></script>
    <script src="~/Template/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Template/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Template/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Template/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="~/Template/plugins/easing/easing.js"></script>
    <script src="~/Template/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Template/js/custom.js"></script>
   
</body>
</html>